s3fs
boto3 
lxml[html_clean] 
scikit-learn 
mlflow 
pandas 
numpy

# These are the dependencies for the Elyra
# ipykernel
# ipython
# ipython-genutils
# jinja2
# jupyter-client
# jupyter-core
# MarkupSafe
# minio
# nbclient
# nbconvert
# nbformat
# papermill
# pyzmq
# prompt-toolkit
# requests
# tornado
# traitlets
# urllib3